*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0 auto;
    font-family: 'Helvetica', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #4111aa !important;
    background-color:aliceblue !important;
}
b{
    color: #000000;
}
.item{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.todoInput{
    width: 28.125rem;
    max-width: 80%;
    border: 3px solid #4111aa;
    background-color: transparent
}
.todoItem{
    width: 30rem;
    max-width: 80%;
    border: none;
    background-color: transparent;
}
#todos{
    background-color: lightgray;
}
.addTodo{
    border:3px solid #4111aa;
    background-color: #4111aa;
    opacity: 0.7;
}
.editTodo,.deleteTodo,.completeTodo{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}
.deleteTodo:hover{
    font-weight: bold;
}
.addTodo:hover{
    opacity: 1;
}
.done{
    text-decoration: line-through;
    color: green;
}
.clear{
    display: none;
}
.clearButton{
    border: 2px solid #4111aa;
    background-color: transparent;
    color: #4111aa;
    outline: none;
    border-radius: 4px;
}
.clearButton:hover{
    background-color: #4111aa;
    color: #ffffff;
}
#delete,#edit,#check{
    stroke: lightgray;
}
#delete:hover{
    stroke: red;
}
#edit:hover{
    stroke: #4111aa;
}
#check:hover{
    stroke: green;
}
.lord-icon {
    width: 96px;
    height: 96px;
  }